<div class="dashboard-container">
        <div class="cards">
            <div class="card">
                <div class="card-info">
                    <h2> {{dashboardInfo?.mangaInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.mangaInfo?.infoType}}</small>
                </div>
                <!-- Images for Mangas -->
                <!-- <div class="card-images" *ngFor="let recent of dashboardInfo?.mangaInfo?.reciente">
                    <img mat-card-image [src]="'http://localhost:4000/' + recent.mangaImagePath" alt="Manga photo">
                </div> -->
            </div>
            <div class="card">
                <div class="card-info">
                    <h2> {{dashboardInfo?.authorInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.authorInfo?.infoType}}</small>
                </div>
            </div>
            <div class="card">
                <div class="card-info">
                    <h2> {{dashboardInfo?.artistInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.artistInfo?.infoType}}</small>
                </div>
            </div>
        </div>

        <!-- Future charts -->
        <!-- <div class="chart-grid">
            <div class="chart-follow">
                <div class="chart-head">
                    <h3>Follow</h3>
                    <span class="las la-cog"></span>
                </div>
                <div style="height: 350px;">Chart 1</div>
            </div>
            <div class="chart-sales">
                <div class="chart-head">
                    <h3>Sales</h3>
                    <span class="las la-ellipsis-h"></span>
                </div>
                <div style="height: 350px;">Chart 2</div>
            </div>
        </div> -->
</div>
