<div class="main-content">
    <header>
        <label for="" class="menu-toggle">
            <span class="las la-bars"></span>
        </label>
        <div class="search">
            <span class="las la-search"></span>
            <input type="search" placeholder="Enter search term">
        </div>
        <div class="head-icons">
            <span class="las la-bell"></span>
            <span class="las la-bookmark"></span>
            <span class="las la-comment"></span>
        </div>
    </header>
    <main>
        <div class="cards">
            <div class="card">
                <div class="card-icon stats">
                    <span class="las la-chart-bar"></span>
                </div>
                <div class="card-info">
                    <h2> {{dashboardInfo?.mangaInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.mangaInfo?.infoType}}</small>
                </div>
                <div class="card-images">
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-icon stats">
                    <span class="las la-chart-bar"></span>
                </div>
                <div class="card-info">
                    <h2> {{dashboardInfo?.authorInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.authorInfo?.infoType}}</small>
                </div>
                <div class="card-images">
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-icon stats">
                    <span class="las la-chart-bar"></span>
                </div>
                <div class="card-info">
                    <h2> {{dashboardInfo?.artistInfo?.cantidad}} </h2>
                    <small>Total {{dashboardInfo?.artistInfo?.infoType}}</small>
                </div>
                <div class="card-images">
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                    <div style="background-image: url(../../../assets/user-rafa.png);"></div>
                </div>
            </div>
        </div>
    </main>
</div>
