<div class="navbar-container">
    <div class="brand">
        <span class="lab la-dev"></span>
        <h2>MangaDB</h2>
    </div>
    <div class="nav-links">
        <ul>
            <li>
                <a class="active" routerLink="/dashboard">
                    <span class="las la-home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/manga-library">
                    <span class="las la-book"></span>
                    <span>Manga</span>
                </a>
            </li>
            <li>
                <a routerLink="/manga-library/new">
                    <span class="las la-plus-circle"></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a routerLink="/author/new">
                    <span class="las la-plus-circle"></span>
                    <span></span>
                </a>
            </li>
            <li>
                <a routerLink="/artist/new">
                    <span class="las la-plus-circle"></span>
                    <span></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="search-container">
        <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <input class="search-input" name="search" ngModel placeholder="Search manga's" />
            <button class="search-button">Search</button>
        </form>
    </div>
</div>
