<div class="sidebar">
    <div class="brand">
        <span class="lab la-dev"></span>
        <h2>MangaDB</h2>
    </div>
    <div class="sidemenu">
        <div class="side-user">
            <div class="side-img" style="background-image: url(../../../assets/user-rafa.png)"></div>
            <div class="user">
                <small>Rafael Popescu</small>
                <p>Manga Database Dev</p>
            </div>
        </div>
        <ul>
            <li>
                <a class="active" routerLink="/dashboard">
                    <span class="las la-home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/manga-library">
                    <span class="las la-book"></span>
                    <span>Manga Library</span>
                </a>
            </li>
            <li>
                <a routerLink="/manga-library/new">
                    <span class="las la-plus-circle"></span>
                    <span>Add new manga</span>
                </a>
            </li>
            <li>
                <a routerLink="/author/new">
                    <span class="las la-plus-circle"></span>
                    <span>Add new author</span>
                </a>
            </li>
            <li>
                <a routerLink="/artist/new">
                    <span class="las la-plus-circle"></span>
                    <span>Add new artist</span>
                </a>
            </li>
        </ul>
    </div>
</div>
